body{
    font-family:Arial;
    padding: 0px;
    margin: 0px;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
h1{
    margin: 0px;
    margin-bottom: 10px;
}
.loading-animation-container {
    background: #cacbdf;
    position: relative;
    height: 150px;
    margin-bottom: 50px;
}

.loading-animation-container h1 {
    font-family: arial;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader-one span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: all .5s;
    animation: loader-one 2s infinite;
    display: inline-block;
}

.loader-one span:nth-child(1) {
    animation-delay: 0;
}

.loader-one span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader-one span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader-one span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader-one span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader-one span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes loader-one {
    0% {
        border: 1px solid #fff;
        background: transparent;
        transform: translateY(0);
    }
    50% {
        border: 1px solid #fff;
        background: red;
        transform: translateY(-25px);
    }
    100% {
        border: 1px solid #fff;
        background: yellow;
        transform: translateY(0);
    }
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-two div{
    float: left;
    margin: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.loader-two .example-one {
    border: 10px #f3f3f3 solid;
    border-top: 10px #3498db solid;
}

.loader-two .example-two {
    border: 10px #f3f3f3 solid;
    border-top: 10px #3498db solid;
    border-bottom: 10px #3498db solid;
}
.loader-two .example-three {
    border: 10px #f3f3f3 solid;
    border-top: 10px blue solid;
    border-bottom: 10px green solid;
    border-left: 10px red solid;
}

.loader-two .example-four {
    border-right: 10px pink solid;
    border-top: 10px blue solid;
    border-bottom: 10px green solid;
    border-left: 10px red solid;
}
.loader-two .example-five {
    border: 10px #f3f3f3 solid;
    border-top: 10px #333451 solid;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-three{

}
.loader-three .signal{
    margin: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: pulsate 1s ease-out infinite;
    border: 10px #292929 solid;
}
@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.loader-four .bar{
    width: 1000px;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image: repeating-linear-gradient( -45deg, #2980b9, #2980b9 11px, #eee 10px, #eee 20px);
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

.loader-five{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 6px;
    background-color: #fdba2c;
}

.loader-five .bar {
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;

}

.loader-five .bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}
.loader-five .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}
.loader-five .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.loader-six h1{
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 5em
}

.loader-six h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading-text 30s linear infinite;
}
@keyframes loading-text {
    0% {
        max-width: 0;
    }
}

.loader-seven .cricle{
    background: green;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation : spin 2s linear infinite;
}
.loader-seven .cricle::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 33px;
    left: 10px;
    border: 10px #fff solid;
}

.loader-eight .loading-bar {
    display: inline-block;
    width: 5px;
    height: 30px;
    border-radius: 4px;
    margin-right: 3px;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}